include ../../blocks/title/title
section.m-contact#m-contact(ng-controller="contactCtrl")
	.l-contact
		+title()
		.b-service
			.b-service__item
				.b-media
					img(src='#{modulePath}/contact/images/item1.jpg' alt='').b-media__img
					svg.b-svg
						use(xlink:href="#{modulePath}/contact/images/contact.svg#icon-letter" fill="#fff")
				.b-title EMAIL
				.b-text(ng-bind-html="contacteData.contacts.email")
			.b-service__item
				.b-media
					img(src='#{modulePath}/contact/images/item2.jpg' alt='').b-media__img
					svg.b-svg
						use(xlink:href="#{modulePath}/contact/images/contact.svg#icon-point" fill="#fff")
				.b-title OUR OFFICE
				.b-text(ng-bind-html="contacteData.contacts.adress")
			.b-service__item
				.b-media
					img(src='#{modulePath}/contact/images/item3.jpg' alt='').b-media__img
					svg.b-svg
						use(xlink:href="#{modulePath}/contact/images/contact.svg#icon-phone" fill="#fff")
				.b-title PHONE
				.b-text(ng-bind-html="contacteData.contacts.phone")
script(src="#{modulePath}/contact/contact.js")