include ../../blocks/title/title
section.m-team#m-team
	.l-team
		-var title = {title: 'The team', subtitle: 'At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium'}
		+title(title)
		.swiper-container
			.swiper-wrapper
				- for (i=0; i<3; i++) {
					.swiper-slide
						.b-media
							img(src='#{tempPath}/team1.jpg' alt='').b-media__img
							.b-social
								a(href="javascript:void(0);").b-social__item
									svg.b-instagram
										use(xlink:href='#{imgPath}/common.svg#icon-instagram')
								a(href="javascript:void(0);").b-social__item
									svg.b-facebook
										use(xlink:href="#{imgPath}/common.svg#icon-facebook")
								a(href="javascript:void(0);").b-social__item
									svg.b-twitter
										use(xlink:href="#{imgPath}/common.svg#icon-twitter")
						.b-info
							.b-info__name Abdullah Noman
							.b-info__post Creative Director, Code Cafe
							.b-info__discription At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
							- var skills = {"branding": "80", "web design": "65", "user interface": "75"}
							each item, key in skills
								.b-skills
									.b-skills__tip #{key}
									progress.b-skills__progress(max="100" value="#{item}")
				- }
			.swiper-pagination
	.b-contact
		.b-contact__text Already Loved Us? Let’s talk!
		.b-contact__button contact us
	script(src="../src/vendor/swiper/swiper.min.js")
	script(src="../src/vendor/swiper/swiper.jquery.min.js")
	script.
		window.onload = function () {
			var mySwiper = new Swiper ('.swiper-container', {
				// Optional parameters
				direction: 'horizontal',
				pagination: '.swiper-pagination',
				loop: true
			})
		};