mixin menu-list-container (menu, level)
	- var level = level || 0;
	- level += 1;
	each item in menu
		- var tag = item.type === 'text' ? 'span' : 'a', attributes = item.attributes || {};
		li
			#{tag}&attributes(attributes).
				#{item.text}
		if item.items
			ul(class="#{id}--level#{level}")
				+menu-list-container(item.items, level)

mixin menu-list (id, menu)
	ul(id=id class="#{id}")
		+menu-list-container(menu.items)
